:root {
  --fc-calendar-height: 650px;
  --fc-sidebar-width: 18rem;
  --fc-event-font-weight: 600;
  --fc-event-font-size: 0.8rem;
  --fc-event-padding-x: 0.5rem;
  --fc-event-padding-y: 0.25rem;
  --fc-toolbar-btn-padding: 0.438rem 0.5rem;
  --fc-day-toggle-btn-padding: 0.55rem 1.5rem;
  --primary: rgb(39, 39, 61);
  --alpha: grey;
  --body-color: grey;
  --border-color: grey;
  --btn-border-radius: 12px;
  --body-bg: #ccc;
  --text-muted: #555;
  --blue: blue;
  --red: red;
  --yellow: yellow;
  --green: green;
  --purple: purple;
}







.fc-listMonth-button {
  border-radius: 0 12px 12px 0;
  padding: var(--fc-day-toggle-btn-padding);
  border-left: 0;
  text-transform: capitalize;
  border-color: transparent !important;


}
.fc-dayGridMonth-button,
.fc-timeGridWeek-button,
.fc-timeGridDay-button,
.fc-listMonth-button{
    border: 0!important;
    margin-bottom: 2px !important;
}

.fc-dayGridMonth-button.fc-button-active,
.fc-timeGridWeek-button.fc-button-active,
.fc-timeGridDay-button.fc-button-active,
.fc-listMonth-button.fc-button-active {
    background-color: #00BCC2 !important;
    color: white !important;

}



.fc-button-primary{
    background-color:rgb(87, 85, 85)!important ;
    border-color: transparent!important;

}


.fc-h-event{
    background-color: #3b87ae  !important;
    padding: 2px;
    border:  none !important;
}


.fc-event .fc-event-main {
    background-color: #3b87ae  !important;
    padding: 2px;
    border:  none !important;   
    border-color: transparent!;
}


/* .fc .fc-view-harness-active > .fc-view {
    background:rgb(249, 248, 246);
    border-radius: 12px;
    
} */

/* .fc-theme-standard.fc-scrollgrid {
    border: none !important;
}


.fc-dayGridMonth-view .fc-view .fc-daygrid {
    border: none !important;
} */


.fc-dayGridMonth-view, .fc-view, .fc-daygrid{
    border: none !important;
    border-color: transparent !important;
}


/* .fc-scrollgrid{
    border: none !important;

    box-shadow: '0 6px 6px -2px rgba(0,0,0,.1), 0 3px 4px 0 rgba(0,0,0,.04), 0 1px 8px 0 rgba(0,0,0,.02);' !important;
} */


/* .fc-view-harness .fc-view-harness-active {
    border: none !important;
} */



.fc--button.fc-button.fc-button-primary{
    margin-bottom: 2px;
    width: 1px!important;
}


.fc-next-button, .fc-prev-button {
    margin-bottom: 2px !important;
}



/* 

    .fc-button-group, .fc-listMonth-button {
      margin-top: 10px;
      .fc-button {
        text-transform: capitalize;
        &:focus {
          box-shadow: none;
        }
      }
      .fc-button-primary {
        &:not(.fc-prev-button):not(.fc-next-button) {
        
          background-color: transparent;
          border-color: $primary;
          color: $primary;
          &.fc-button-active,
          &:hover {
            background-color: rgba($color: $primary, $alpha: 0.2) !important;
            border-color: $primary !important;
            color: $primary;
          }
        }
        &.fc-sidebarToggle-button {
          border: 0;

          i,
          svg {
            height: 21px;
            width: 21px;
            font-size: 21px;
          }
        }
      }
      .fc-sidebarToggle-button {
        padding-left: 0;
        background-color: transparent !important;
        color: $body-color !important;

        &:not(.fc-prev-button):not(.fc-next-button):hover {
          background-color: transparent !important;
        }

        & + div {
          margin-left: 0;
        }
      }
      
      .fc-dayGridMonth-button,
      .fc-timeGridWeek-button,
      .fc-timeGridDay-button,
      .fc-listMonth-button {
        padding: $fc-day-toggle-btn-padding;

        &:last-child,
        &:first-child {
          border-radius: $btn-border-radius;
        }
        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
    & > * > :not(:first-child) {
      margin-left: 0rem;
    }
    .fc-toolbar-title {
      margin-left: 0.25rem;
    }
    .fc--button:empty,
    .fc-toolbar-chunk:empty {
      display: none;
    }
  }

  // Calendar head & body common
  tbody td,
  thead th {
    border-color: $border-color;
    &.fc-col-header-cell {
      border-right: 0;
      border-left: 0;
    }
  }

  .fc-view-harness {
    min-height: $fc-calendar-height;
  }

  // Daygrid
  .fc-scrollgrid-section-liquid > td {
    border-bottom: 0;
  }
  .fc-daygrid-event-harness {
    .fc-event {
      font-size: $fc-event-font-size;
      font-weight: $fc-event-font-weight;
      padding: $fc-event-padding-y $fc-event-padding-x;
    }
    & + .fc-daygrid-event-harness {
      margin-top: 0.3rem !important;
    }
  }
  .fc-daygrid-day-bottom {
    margin-top: 0.3rem !important;
  }
  .fc-daygrid-day {
    padding: 5px;
    .fc-daygrid-day-top {
      flex-direction: row;
    }
  }


  .fc-daygrid-day-number,
  .fc-timegrid-slot-label-cushion,
  .fc-list-event-time {
    color: $body-color;
  }
  .fc-day-today {
    background: $body-bg !important;
    background-color: $body-bg !important;
  }


   








  .fc-timegrid {
    .fc-scrollgrid-section {
      .fc-col-header-cell,
      .fc-timegrid-axis {
        border-color: $border-color;
        border-left: 0;
        border-right: 0;
      }
      .fc-timegrid-axis {
        border-color: $border-color;
      }
    }
    .fc-timegrid-axis {
      &.fc-scrollgrid-shrink {
        .fc-timegrid-axis-cushion {
          text-transform: capitalize;
          color: $text-muted;
        }
      }
    }
    .fc-timegrid-slots {
      .fc-timegrid-slot {
        height: 3rem;
        .fc-timegrid-slot-label-frame {
          text-align: center;
          .fc-timegrid-slot-label-cushion {
            text-transform: uppercase;
          }
        }
      }
    }
    .fc-timegrid-divider {
      display: none;
    }
  }


  .fc-list {
    border-color: $border-color;
    .fc-list-day-cushion {
      background: $body-bg;
    }
    .fc-list-event {
      &:hover {
        td {
          background-color: $body-bg;
        }
      }
      td {
        border-color: $border-color;
      }
    }
  }



.app-calendar {
  position: relative;
  border-radius: 20;
  margin-bottom: 2rem;
  .app-calendar-sidebar {
    position: absolute;
    left: calc(-#{$fc-sidebar-width} - 1.2rem);
    width: $fc-sidebar-width;
    height: 100%;
    z-index: 5;
    background-color: pink;
    border-right: 1px solid grey;
    flex-basis: $fc-sidebar-width;
    transition: all 0.2s, background 0s, border 0s;
    &.show {
      left: 0;
    }
    .sidebar-content-title {
      font-size: 0.85rem;
      color: grey;
      text-transform: uppercase;
      letter-spacing: 0.6px;
    }
    .select-all,
    .input-filter {
      & ~ label {
        color: blue;
        font-weight: 500;
        letter-spacing: 0.4px;
      }
    }
  }


  .event-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    z-index: 15;
    transform: translateX(120%);
    transition: all 0.3s ease-in-out;

    .card {
      height: calc(100vh - 12.96rem);
      height: calc(var(--vh, 1vh) * 100 - 12.96rem);
      border-radius: 0 2px 2px 0;

      .close-bar {
        cursor: pointer;
      }

      .todo-item-action {
        width: 6rem;

        .todo-item-info,
        .todo-item-favorite,
        .dropdown {
          cursor: pointer;
          line-height: 1.5;
        }
        .dropdown .dropdown-menu .dropdown-item {
          padding: 0.14rem 1.428rem;
        }
        .dropdown-toggle::after {
          display: none;
        }
      }
    }

    &.show {
      transform: translateX(0);
    }
  }

  .fc-toolbar {
    h2 {
      font-size: 1.45rem;
    }
  }
  .fc-header-toolbar {
    margin-bottom: 1.75rem !important;
  }
  .fc-view-harness {
    margin: 0 -1.6rem;
  }
  .fc-scrollgrid {
    border-color: grey;
  }
  .fc-day-past,
  .fc-day-future {
    .fc-daygrid-day-number {
      color: black;
    }
  }






  .fc-popover {

    .fc-popover-header {
      background: transparent;
      padding: 0.5rem;
      .fc-popover-title,
      .fc-popover-close {
        color: grey;
      }
    }
    .fc-popover-body {
      *:not(:last-of-type) {
        margin-bottom: 0.3rem;
      }
    }
  }

















  .fc {
    .fc-event {
      .fc-event-main {
        color: inherit;
      }
    }
  }






  .fc-list-event {
    background: transparent !important;
  }











.horizontal-layout {
  .app-calendar {
    margin-bottom: 1rem;
  }
}


@media (max-width: 992px) {
  .fc {
    .fc-sidebarToggle-button {
      font-size: 0;
    }
  }
}

@media (min-width: 992px) {
  .fc {
    .fc-sidebarToggle-button {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .app-calendar {
    .fc {
      .fc-header-toolbar {
        .fc-toolbar-chunk:last-of-type {
          margin-top: 1rem;
        }
      }
    }
  }
} */
